button{
	width: 10%;
	height: 100%;
}

table{
	width: 100%;
	height: 100%;
	border: 1px solid black;
}
th,td{
	border: 1px solid black;
}

.display{
	width: 100%;
	height: 88%;
}
.buttons{
	width: 100%;
	height: 6%;
}
.button{
	border: 2px solid black;
	border-radius: 4px;
	transition-duration: 0.2s;
}
.button:hover{
	background-color: black;
	color: white;
}
.image{
	height: 100%;
	width: 15%;
}
.image-hth{
	height: 100%;
	width: 20%;
}
.teamheading{
	height:10%;
	width: 100%;
}
.teamcrest{
	height: 80%;
	width: 90%;
}
#crest{
	height: 65%;
	width: 100%;
}
.crest-hth{
	height: 75%;
	width: 100%;
}
.heading{
	display: inline;
}
.winslosses{
	height: 100%;
	width: 12%;
}
.winslosses-hth{
	height: 100%;
	width: 36s%;
}
.statsText{
	height: 65%;
	width: 100%;
}
.statsTable{
	height: 82%;
	width: 100%;
	overflow-y: scroll;
}
.statsheading{
	height: 30%;
}
.statsheading-hth{
	height: 20%;
}
.heading-hth{
	height: 40%;
}
.tableheading{
	height: 15%;
}
.tableheadingsmall{
	height: 10%;
}
.general{
	height: 35%;
	width: 100%;
}
.general-hth{
	height: 100%;
	width: 49%;
}
.lastfive{
	height: 100%;
	width: 61%;
}
.games{
	height: 60%;
	width: 100%;
	overflow-y: scroll;
}