<div>
	<div class="pb-2" id="headingDiv">
		<h3 class="heading px-1 border border-dark">
			{{activeTeam.name}}
		</h3>
	</div>
	<div class="buttons pb-1">
		<button class="button" (click)="changeScreen('stats')">Stats</button>
		<button class="button"(click)="changeScreen('headtohead')">Head-to-Head</button>
		<button class="button"(click)="changeScreen('players')">players</button>
	</div>
</div>
<div class="stats display" *ngIf="current == 'stats'">
<div class="general d-flex mb-3">
	<div class="image mr-3 border border-dark">
		<h5 class="statsheading border border-dark">Team Crest</h5>
		<div id ="crest" class="d-flex align-items-center justify-content-center">
			<img class="teamcrest" [src]="activeTeam.crestURL" alt="No crest url found">
		</div>
	</div>
	<div class="winslosses mr-3 border border-dark">
			<h5 class="statsheading border border-dark">Wins /Draws/ Losses</h5>
			<div class="statsText d-flex align-items-center justify-content-center">
				<h5>{{activeTeam.totalWins}}/{{activeTeam.totalDraws}}/{{activeTeam.totalLosses}}</h5>
			</div>
	</div>
	<div class="winslosses mr-3 border border-dark">
		<h5 class="statsheading d-flex border border-dark">Goals For/Against</h5>
		<div class="statsText d-flex align-items-center justify-content-center">
			<h5>{{activeTeam.totalGoalsFor}}/{{activeTeam.totalGoalsAgainst}}</h5>
		</div>
	</div>
	<div class="lastfive border border-dark">
		<h5 class="tableheading border border-dark">Last 5 Games Of Selected Season</h5>
		<div class="statsTable d-flex" *ngIf="activeTeam.games.length > 0">
			<table class = "table table-hover" *ngIf="activeTeam.games[0].id != -1">
				<tr>
					<th>League Name</th>
					<th>Home Team</th>
					<th>Away Team</th>
					<th>Score H/A</th>
					<th>Winner</th>
					<th>Date</th>
				</tr>
				<tr *ngFor="let game of activeGamesS | slice:0:5;">
					<td>{{game.league}}</td>
					<td *ngIf="game.homeTeam == game.winnerName" class="bg-success text-white">{{game.homeTeam}}</td>
					<td *ngIf="game.homeTeam != game.winnerName">{{game.homeTeam}}</td>
					<td *ngIf="game.awayTeam == game.winnerName" class="bg-success text-white">{{game.awayTeam}}</td>
					<td *ngIf="game.awayTeam != game.winnerName">{{game.awayTeam}}</td>
					<td *ngIf="game.status == 'FINISHED'">{{game.scoreHome}}/{{game.scoreAway}}</td>
					<td *ngIf="game.status == 'FINISHED'">{{game.winnerName}}</td>
					<td *ngIf="game.status != 'FINISHED'">Game has not yet been Played</td>
					<td *ngIf="game.status != 'FINISHED'">Undecided</td>				
					<td>{{game.date}}</td>
				</tr>
			</table>
			<h5 *ngIf="activeTeam.games[0].id == -1">
				No games available for current team
			</h5> 
		</div>
	</div>
</div>
<div class= "games" *ngIf="activeTeam.games.length > 0">
	<h5 class="tableheading border border-dark">All Games for {{activeTeam.name}} from currently Selected Season</h5>
	<table class="statsTable table-hover" *ngIf="activeTeam.games[0].id != -1 ">
		<tr>
			<th>League Name</th>
			<th>Match Day</th>
			<th>Home Team</th>
			<th>Away Team</th>
			<th>Score H/A</th>
			<th>Winner</th>
			<th>Date</th>
			<th>Season</th>
		</tr>
		<tr *ngFor="let game of activeGamesS">
			<td>{{game.league}}</td>
			<td>{{game.matchDay}}</td>
			<td *ngIf="game.homeTeam == game.winnerName" class="bg-success text-white">{{game.homeTeam}}</td>
			<td *ngIf="game.homeTeam != game.winnerName">{{game.homeTeam}}</td>
			<td *ngIf="game.awayTeam == game.winnerName" class="bg-success text-white">{{game.awayTeam}}</td>
			<td *ngIf="game.awayTeam != game.winnerName">{{game.awayTeam}}</td>
			<td *ngIf="game.status == 'FINISHED'">{{game.scoreHome}}/{{game.scoreAway}}</td>
			<td *ngIf="game.status == 'FINISHED'">{{game.winnerName}}</td>
			<td *ngIf="game.status != 'FINISHED'">Game has not yet been Played</td>
			<td *ngIf="game.status != 'FINISHED'">Undecided</td>				
			<td>{{game.date}}</td>
			<td>{{game.season}}</td>
		</tr>
	</table>
	<h5 *ngIf="activeTeam.games[0].id == -1">
		No games available for current team
	</h5> 
</div>
</div>
<div class="headtohead display" *ngIf="current == 'headtohead'">
	<div class="general mb-3">
		<div class="image-hth float-left border border-dark">
			<h5 class="statsheading-hth border border-dark">{{activeTeam.name}} Crest</h5>
			<div class="crest-hth d-flex align-items-center justify-content-center">
				<img class="teamcrest" [src]="activeTeam.crestURL" alt="No crest url found">
			</div>
		</div>
		<div class="image-hth float-right border border-dark">
			<h5 class="statsheading-hth border border-dark">{{activeRival.name}} Crest</h5>
			<div class="crest-hth d-flex align-items-center justify-content-center">
				<img class="teamcrest" [src]="activeRival.crestURL" alt="No crest url found">
			</div>
		</div>
		<select (change)="changeActiveRival($event.target.value)"  class="float-right">
			<option *ngFor="let team of activeLeague.teams" [value]="team.id">{{team.name}}</option>
		</select>
	</div>
	<div class="general d-flex">
	<div class="general-hth">
		<div class="winslosses-hth float-left border border-dark">
			<div class="heading-hth border border-dark">
				<h5 >{{activeTeam.name}}</h5>
				<h5 >Wins/Draws/Losses</h5>
			</div>
			<div class="statsText d-flex align-items-center justify-content-center">
				<h5>{{activeTeam.totalWins}}/{{activeTeam.totalDraws}}/{{activeTeam.totalLosses}}</h5>
			</div>
	</div>
	<div class="winslosses-hth  ml-3 float-left border border-dark">
		<div class="heading-hth border border-dark">
		<h5 >{{activeTeam.name}}</h5>
		<h5 >Goals For/Against</h5>
		</div>
		<div class="statsText d-flex align-items-center justify-content-center">
			<h5>{{activeTeam.totalGoalsFor}}/{{activeTeam.totalGoalsAgainst}}</h5>
		</div>
	</div>
	</div>
	<div class="general-hth float-right">
		<div class="winslosses-hth float-right border border-dark">
			<div class="heading-hth border border-dark">
				<h5 >{{activeRival.name}}</h5>
				<h5 >Wins/Draws/Losses</h5>
			</div>
			<div class="statsText d-flex align-items-center justify-content-center">
				<h5>{{activeRival.totalWins}}/{{activeRival.totalDraws}}/{{activeRival.totalLosses}}</h5>
			</div>
	</div>
	<div class="winslosses-hth  mr-3 float-right border border-dark">
		<div class="heading-hth border border-dark">
		<h5 >{{activeRival.name}}</h5>
		<h5 >Goals For/Against</h5>
		</div>
		<div class="statsText d-flex align-items-center justify-content-center">
			<h5>{{activeRival.totalGoalsFor}}/{{activeRival.totalGoalsAgainst}}</h5>
		</div>
	</div>
	</div>
</div>
</div>
<div class="players display" *ngIf="current == 'players'">
<div class= "players" *ngIf="activeTeam.players.length > 0">
	<h5 class="tableheadingsmall border border-dark">All Players for {{activeTeam.name}}</h5>
	<table class="statsTable table-hover" *ngIf="activeTeam.players[0].num != -1">
		<tr>
			<th>Name</th>
			<th>Position</th>
			<th>Jersey Number</th>
			<th>Date Of Birth</th>
			<th>Nationality</th>
		</tr>
		<tr *ngFor="let player of activeTeam.players">
			<td>{{player.name}}</td>
			<td>{{player.position}}</td>
			<td>{{player.num}}</td>				
			<td>{{player.dob}}</td>
			<td>{{player.nationality}}</td>
		</tr>
	</table>
	<h5 *ngIf="activeTeam.players[0].num == -1">
		No players available for current team
	</h5> 
</div>
</div>
