<div *ngIf="league.leagueTables[0].position == -1">
<h4 class="centre">{{league.name}} League Table Season {{league.year}}</h4>
<h4>{{league.leagueTables[0].teamName}}</h4>
</div>
<div *ngIf="league.leagueTables[0].position != -1">
<h4 class="centre">{{league.name}} League Table</h4>
<h5>Season: {{league.year}} Matchday: {{league.matchDay}}</h5>
<table class="table table-hover" >
	<tr>
		<th>Position</th>
		<th>Team</th>
		<th>Matches</th>
		<th>Wins</th>
		<th>Draws</th>
		<th>Losses</th>
		<th>Points</th>
		<th>Goals For</th>
		<th>Goals Against</th>
		<th>Goals Difference</th>
	</tr>
	<tr *ngFor="let leagueTable of league.leagueTables">
		<td>{{leagueTable.position}}</td>
		<td>{{leagueTable.teamName}}</td>
		<td>{{leagueTable.playedGames}}</td>
		<td>{{leagueTable.wins}}</td>
		<td>{{leagueTable.draws}}</td>
		<td>{{leagueTable.losses}}</td>
		<td>{{leagueTable.points}}</td>
		<td>{{leagueTable.goals}}</td>
		<td>{{leagueTable.goalsAgainst}}</td>
		<td>{{leagueTable.goalDifference}}</td>
	</tr>
</table>
</div>