<ul>
 <li class="leagues" *ngFor="let league of leagues">
   <span (click)="onSelect(league)">{{league.name}}</span>
   <span *ngIf="activeLeague.id == league.id">
   <ul>
     <li class="teams" *ngFor="let team of activeLeague.teams" (click)="onSelectTeam(team)">{{team.name}}
     </li>
   </ul>
   </span>
 </li>
</ul>