.background{
	background-color: #9099A2;
	text-align: center;
	height: 100%;
}
.header{
	background-color: #6D7993;
	text-align: center;
	border-radius: 4px;
	height: 15%;
}
.footer{
	background-color: #6D7993;
	text-align: left;
	height: 100%;
	font-size: 10px;
}
.footersize{
	height: 20%;
}
.side{
	background-image: url("https://i.imgur.com/t8Jfd4y.png");
	overflow-y: scroll;
	height: 100%;
	border-radius: 4px;
}
.main{
	background-image: url("https://i.imgur.com/t8Jfd4y.png");	
	overflow-y: scroll;
	height: 100%;
}
.article{
	height: 75%;

}
.headerImage{
	width: 100%;
    height: 150px;
    margin-top: 5px;
}