<!--The content below is only a placeholder and can be replaced.-->
<div class="background container-fluid">
  <div class="row">
    <div class="header col-md-12 my-3">
      <h1>
        <img class="headerImage" src="https://i.imgur.com/WqJn3cD.png" title="source: imgur.com">
      </h1>
    </div>
  </div>
  <div class="article row py-3">
    <div class="side col-md-2 mx-auto"> 
      <div>Select season:
      <select (change)="changeSeason($event.target.value)">
        <option value="2018">2018</option>
        <option value="2017" selected>2017</option>
        <option value="2016">2016</option>
      </select>
      </div>
      <app-league-list (activeEvent)="receiveActiveLeague($event)" (activeTEvent)="receiveActiveTeam($event)"  [leagues]="leagues" [activeLeague]="activeLeague"></app-league-list>
    </div>
    <div class="main col-md-9 mx-auto"> 
      <app-league *ngIf="activeLeague.leagueTables.length > 0 && current == 'event'" [league]="activeLeague"></app-league>
      <app-team-display *ngIf="current == 'team'"  (activeEvent)="receiveActiveRival($event)" [leagues]="leagues" [activeLeague]="activeLeague" [activeTeam]="activeTeam" [activeGamesS]="activeGamesS" [activeRival]="activeLeague.teams[0]"></app-team-display>
    </div>
  </div>
  <div class="footersize row">
    <div class="footer col-md-12">
      <h4>Privacy Policy</h4>
      <p>Effective date: June 03, 2018</p>
      <p>SoccerLyfe ("us", "we", or "our") operates the http://www.SoccerLyfe.com website (the "Service").</p>
      <p>This page informs you of our policies regarding the collection, use and disclosure of personal data when you use our Service and the choices you have associated with that data. This Privacy Policy for SoccerLyfe is powered by TermsFeed.</p>
      <p>We use your data to provice and improve the Service. By using the Service you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible from http://www.SoccerLyfe.com</p>
    </div>
  </div>
</div>
